<div class="content-wrapper">
    <div class="container-fluid">
      <div class="card-header">
        <h5 class="form-header">
          <i class="zmdi zmdi-format-list-numbered"></i>
          Product List
        </h5>
        <button data-toggle="modal" data-target="#addProductModal" class="btn btn-primary">
          <i class="zmdi zmdi-plus"></i> Add Product
        </button>
        <form class="search-bar pull-right">
          <input type="text" class="form-control" name="search" (input)="Search()" [(ngModel)]="name" autocomplete="off"
            placeholder="Search By Item Name" />
          <a href=""></a>
        </form>
      </div>
      <div class="row">
        <div class="col-lg-4 pt50 pb50 col-md-4 my-2" *ngFor="let product of products; let i = index">
          <div class="row wow fadeIn" data-wow-delay=".3s">
            <div class="col-md-12">
              <figure class="card card-product">
                <div class="img-wrap" style="height: 282px;">
                  <img [src]="product.image" style="margin: auto; display: block; width:80%;height:80%; padding-top: 20px;" 
                    class="brandImg" />
                    <h6 class="title text-center">{{ product.title || "N/A" }}</h6>
                </div>
                <figcaption class="info-wrap text-center">
                  
                  <div class="row">
                    <div class="col-md-6">
                      
                      <span
                        class="price-new">&#x20B9;{{ product.price || "N/A" }}</span>
                    </div>
  
                    
                    <div class="col-md-6">
                      <a data-toggle="modal" data-target="#exampleModalCenter"  style="margin-right: 10px; color: white;"
                        class="btn btn-sm btn-primary" (click)="viewProduct(product)"><i class="zmdi zmdi-edit" data-toggle="tooltip"
                          data-placement="top" title="Edit"></i></a>
                     
  
                      <a class="btn btn-sm btn-danger" style="color:white;" (click)="deleteProduct(product)" >
                        <i class="zmdi zmdi-delete" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                      </a>
  
  
  
                    </div>
                  </div>
                </figcaption>
                <div class="bottom-wrap">
                  <div class="price-wrap h5"></div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>

   


    </div>
  </div>






<!-- Modal -->
<!-- Edit Product -->
<div *ngIf="isEdit">
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Update Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <form  [formGroup]="editForm">              
                <div class="col-lg-12">
  
                  <div class="form-group row">
                    <label for="name" class="col-sm-3 col-form-label">Title</label>
                    <div class="col-sm-9">
                      <input
                        name="title"
                        [(ngModel)]="editedProduct.title"
                        formControlName="title"
                        type="text"
                        placeholder="Enter item name"
                        class="form-control"
                        id="title"
                      
                      
                      />                     
                    </div>
                  </div>
  
                  <div class="form-group row">
                    <label for="unit" class="col-sm-3 col-form-label"
                      >Unit
                    </label>
                    <div class="col-sm-9">
                      <select
                        class="form-control"
                        formControlName="unit"
                        id="unit"  
                        [(ngModel)]="selectedUnitObj"  
                        [(ngModel)]="editedProduct.unit"  
                      >
                      
                      <option *ngFor="let level of unit" [ngValue]="level">{{level.unitName}}</option>
                         
                      </select>
                     
                    </div>
  
                  
  
  
                  </div>
  
                  <div class="form-group row">
                    <label for="name" class="col-sm-3 col-form-label">Price</label>
                    <div class="col-sm-9">
                      <input
                        name="price"
                        [(ngModel)]="editedProduct.price"
                        type="number"
                        formControlName="price"
                        placeholder="Enter item name"
                        class="form-control"
                        id="price"
                      />
                    
                    </div>
                  </div>
  
                  <div class="form-group row">
                    <label for="name" class="col-sm-3 col-form-label">Stock Left</label>
                    <div class="col-sm-9">
                      <input
                        name="stockLeft"
                        [(ngModel)]="editedProduct.stockLeft"
                        type="number"
                        formControlName="stockLeft"
                        placeholder="Enter item name"
                        class="form-control"
                        id="stockLeft"
                      
                      
                      />                     
                    </div>
                  </div>
  
  
                  <div class="form-group row">
                    <label for="discount" class="col-sm-3 col-form-label">Discount Percent</label>
                    <div class="col-sm-9">
                      <input
                        name="stockLeft"
                        [(ngModel)]="editedProduct.discount"
                        type="number"
                        formControlName="discount"
                        placeholder="Enter Discount Percent"
                        class="form-control"
                        id="discount"                   
                      
                      />     
                                      
                    </div>
                  </div>
  
  
                  <div class="form-group row">
                    <label for="name" class="col-sm-3 col-form-label">Image URL</label>
                    <div class="col-sm-9">
                      <input
                        name="image"
                        [(ngModel)]="editedProduct.image"
                        formControlName="image"
                        type="text"
                        placeholder="Enter Image URL"
                        class="form-control"
                        id="image"                
                      
                      />                     
                    </div>
                  </div>
  
  
  
  
                  <div class="form-group row">
                    <label for="promoCodes" class="col-sm-3 col-form-label"
                      >PromoCode
                    </label>  
                    <div class="col-sm-9">
                      <select
                        class="form-control"
                        formControlName="promoCode"
                        id="promoCodes"  
                        [(ngModel)]="selectedPromoCodeObj"
                        [(ngModel)]="editedProduct.promoCodes"  
                      >                    
                      <option *ngFor="let promo of promoCodes" [ngValue]="promo">
                        {{promo.promoName}}
                      </option>
                      </select>                     
                    </div> 
                  </div>  
                  
                 



                
              



  
                  <div class="form-group row">
                    <label for="category" class="col-sm-3 col-form-label"
                      >Category
                    </label>
                    <div class="col-sm-9">
                      <select
                        class="form-control"
                        formControlName="category"
                        id="category"  
                        [(ngModel)] = "selectedCategoryObj"
                        [(ngModel)]="editedProduct.category" 
                      >
                        <option *ngFor="let cat of category" [ngValue]="cat">
                          {{ cat.categoryName }}
                        </option>
                      </select>
                     
                    </div>
                  </div>
  
  
                  <div class="form-group row">
                    <label for="subscribable" class="col-sm-3 col-form-label"
                      >Subscribable
                    </label>
                    <div class="col-sm-9">
                      <select
                        class="form-control"
                        formControlName="subscribable"
                        id="subscribable"
                        [(ngModel)]="selectedisSubscribableObj"
                        [(ngModel)]="editedProduct.subscribable" 
                      >
                        <option *ngFor="let s of subscribable" [ngValue]="s">
                          {{ s.sub }}
                        </option>
                      </select>
                     
                    </div>
                  </div>


  
  
                  <div class="form-group row">
                    <label for="description" class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-9">
                      <input
                        name="description"
                        [(ngModel)]="editedProduct.description"
                        formControlName="title"
                        type="text"
                        placeholder="Enter Description"
                        class="form-control"
                        id="description"
                      
                      
                      />                     
                    </div>
                  </div>
  
  
  
  
                </div>
              </form>             
            </div>
          </div>   
          </div>     
        </div>      
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"  #closebuttontwo>Close</button>
          <button type="button" class="btn btn-primary" (click)="updateProduct(editedProduct)">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>







<!-- Add Product -->


  <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModal" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="addProductModal">Add Product</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <div class="row">
           <div class="col-lg-12">
             <div class="modal-body">
               <div class="container">
               <div class="row">
                 <div class="col-lg-12">
                   <form name="addForm" [formGroup]="addForm" (ngSubmit)="addForm.valid && onSubmit()">              
                     <div class="col-lg-12">


                      <div class="form-group row">
                        <label for="title" class="col-sm-3 col-form-label">Title</label>
                        <div class="col-sm-9">
                          <input
                          class="form-control"
                          formControlName="title" 
                          [ngClass]="{'is-invalid':addForm.get('title').touched && addForm.get('title').invalid}" 
                          required 
                          
                          />    
                          
                          <div class="invalid-feedback">
                            <div>Title is required</div>
                          </div>
                        </div>
                      </div>




       
                       
       
                         <div class="form-group row">
                         <label for="unit" class="col-sm-3 col-form-label"
                           >Unit
                         </label>
                         <div class="col-sm-9">
                           <select
                           class="form-control" 
                           name="unit" 
                           id="unit"                             
                           formControlName="unit" 
                          [ngClass]="{'is-invalid':addForm.get('unit').touched && addForm.get('unit').invalid}" 
                          required 
                           >
                              <option value="">Please select unit</option>
                              <option *ngFor="let value of unitList" [value]="value.unitName">
                               {{ value.unitName }}
                             </option>                        
                             


                           </select>
                           <div class="form-control-feedback" *ngIf="unit.errors && (unit.dirty || unit.touched)">
                            <p *ngIf="unit.errors.required">Select an Unit</p>
                          </div>
                          
                         </div>
                       </div>
        
                      <div class="form-group row">
                         <label for="name" class="col-sm-3 col-form-label">Price</label>
                         <div class="col-sm-9">
                           <input
                             name="price"
                             type="number"
                             class="form-control"
                             placeholder="Enter price"
                             formControlName="price" 
                          [ngClass]="{'is-invalid':addForm.get('price').touched && addForm.get('price').invalid}" 
                          required 
                          
                          />    
                          
                          <div class="invalid-feedback">
                            <div>Price is required</div>
                          </div>
                         </div>
                       </div>
       
                         <div class="form-group row">
                         <label for="stockLeft" class="col-sm-3 col-form-label">Stock Left</label>
                         <div class="col-sm-9">
                           <input
                           class="form-control"
                             name="stockLeft"                             
                             type="number"
                             formControlName="stockLeft" 
                             [ngClass]="{'is-invalid':addForm.get('stockLeft').touched && addForm.get('stockLeft').invalid}" 
                             required 
                             
                             />    
                             
                             <div class="invalid-feedback">
                               <div>stockLeft is required</div>
                             </div>            
                         </div>
                       </div>
       
       
                      <div class="form-group row">
                         <label for="discount" class="col-sm-3 col-form-label">Discount Percent</label>
                         <div class="col-sm-9">
                           <input
                             name="discount"                             
                             type="number"
                             placeholder="Enter Discount Percent"
                             class="form-control"
                              formControlName="discount" 
                             [ngClass]="{'is-invalid':addForm.get('discount').touched && addForm.get('discount').invalid}" 
                             required 
                             
                             />    
                             
                             <div class="invalid-feedback">
                               <div>Discount is required</div>
                             </div>     
                                           
                         </div>
                       </div>
       
       
                       <div class="form-group row">
                         <label for="name" class="col-sm-3 col-form-label">Image URL</label>
                         <div class="col-sm-9">
                           <input
                             name="image"
                             class="form-control"
                             formControlName="image" 
                             [ngClass]="{'is-invalid':addForm.get('image').touched && addForm.get('image').invalid}" 
                             required 
                             
                             />    
                             
                             <div class="invalid-feedback">
                               <div>Image URL is required</div>
                             </div>                    
                         </div>
                       </div>
       
       
       
       
                       <div class="form-group row">
                         <label for="promoCodes" class="col-sm-3 col-form-label"
                           >PromoCode
                         </label>
                         <div class="col-sm-9">
                           <select
                           class="form-control" 
                           name="promoCodes" 
                            id="promoCodes"                             
                            formControlName="promoCodes" 
                          [ngClass]="{'is-invalid':addForm.get('promoCodes').touched && addForm.get('promoCodes').invalid}" 
                          required 
                           >
                              <option value="">Please select PromoCode</option>
                              <option *ngFor="let value of promoCode" [value]="value.promoName">
                               {{ value.promoName }}
                             </option>                  
                             


                           </select>
                           <div class="form-control-feedback" *ngIf="promoCodes.errors && (promoCodes.dirty || promoCodes.touched)">
                            <p *ngIf="promoCodes.errors.required">promoCodes a Unit</p>
                          </div>                 
                         </div>
                       </div>
       
                       <div class="form-group row">
                         <label for="category" class="col-sm-3 col-form-label"
                           >Category
                         </label>
                         <div class="col-sm-9">
                           <select
                           class="form-control" 
                           name="category" 
                            id="category"                             
                            formControlName="category" 
                          [ngClass]="{'is-invalid':addForm.get('category').touched && addForm.get('category').invalid}" 
                          required 
                           >
                              <option value="">Please select a Category </option>
                              <option *ngFor="let value of categoryList" [value]="value.categoryName">
                               {{ value.categoryName }}
                             </option>                  
                             


                           </select>
                           <div class="form-control-feedback" *ngIf="category.errors && (category.dirty || category.touched)">
                            <p *ngIf="category.errors.required">Select a Category</p>
                          </div> 
                          
                         </div>
                       </div>
       
       
                       <div class="form-group row">
                         <label for="subscribable" class="col-sm-3 col-form-label"
                           >Subscribable
                         </label>
                         <div class="col-sm-9">
                           <select
                           class="form-control" 
                           name="subscribable" 
                            id="subscribable"                             
                            formControlName="subscribable" 
                            [ngClass]="{'is-invalid':addForm.get('subscribable').touched && addForm.get('subscribable').invalid}" 
                            required 
                           >
                              <option value="">Please select subscribable</option>
                              <option *ngFor="let value of subscribableList" [value]="value.state">
                               {{ value.sub }}
                             </option>         
                             


                           </select>
                           <div class="form-control-feedback" *ngIf="subscribable.errors && (subscribable.dirty || subscribable.touched)">
                            <p *ngIf="subscribable.errors.required">Select subscribable</p>
                          </div> 
                          
                         </div>
                       </div>
       
       
                      <div class="form-group row">
                         <label for="description" class="col-sm-3 col-form-label">Description</label>
                         <div class="col-sm-9">
                           <input
                           name="title"                             
                           type="text"
                           placeholder="Enter Description"
                           class="form-control"
                           formControlName="description" 
                             [ngClass]="{'is-invalid':addForm.get('description').touched && addForm.get('description').invalid}" 
                             required 
                             
                             />    
                             
                             <div class="invalid-feedback">
                               <div>Description is required</div>
                             </div>                   
                         </div>
                       </div>
       
       
       
       
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal"  #closebuttonAddProduct>Close</button>
                       <button type="submit" class="btn btn-primary"   [disabled]="!addForm.valid" >Add</button>
                     </div>
                   </form>             
                 </div>
               </div>   
               </div>     
             </div>      
                
 
 
 
 
                
           </div>
         </div>        
       </div>
     
     </div>
   </div>
 </div>

